.coping__section {
    display: none;
  }
  
#coping-section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.coping__section-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18em;
  height: 15em;
}


.coping-section__file {
  width: 100%;
  height: 100%;
}
