/* here css */
.nav__background{
  background-color: blue;
  display: flex;
  flex-direction: row;
}

.menu__leftbutton {
height: 3em;
}

.menu__middlebutton {
  height: 3em;
}

.menu__rightbutton {
  height: 3em;
}
