#feeling-better__body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* .feeling-better__button {
    width: 7em;
    height: 3em;
    border-radius: 1em;
    margin: 1.5em;
    background-color:#FFC700;
    border-color: #FFC700;
    font-family: Montserrat, cursive;
    text-align: center;
    cursor: pointer;
} */

.feeling-better__button:hover{
  transform:translateY(-3px);
}
