.welcome__container{
  /* background-color: #e8eaf6 ; */
  background-color: #ffffe6;
  margin: 0;
  padding: 0;
}

/* .welcome__text__main{
  padding: 0.3em;
} */

/* .welcome__icon__container{
  display: flex;
  justify-content: space-evenly;
} */

.welcome__text {
  text-align: center;
  /* max-width: 60%; */
  /* font-size: 0.7em; */
  /* margin: 0.5em 0 0 0 ; */
  margin-top: 0;
}

.welcome__icon{
  /* filter: sepia(3.6) saturate(13.5); */
  max-width: 20%;
  margin-top: 1em;
}
