.privacy__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #614870;
}

.privacy__title{
  color: #ffffff;
}

.privacy__subtitle{
  color: #FFC700;
}

.privacy__text{
  color: white;
}
.privacy__instructions{
  font-size: 0.5em;
  color: white;
  font-weight: 500;
  font-style: italic;
  margin-top: 2vh;
}

.privacy__button {
  cursor: pointer;
  height: 4em;
  margin-top: 2vh;
}
