.privacy__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #614870;
}

.privacy__title{
  color: #ffffff;
}

.privacy__text,
.privacy__instructions{
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-bottom: 1em;
}

.privacy__button {
  margin: 0.8em;
  cursor: pointer;
}

.privacy__subtitle{
  font-weight: normal;
  font-style: italic;
  color: white;
  font-family: Montserrat, sans-serif;
}
