p {
  line-height: 2em;
}

.my-appointment__section {
  display: none;
}

.my-appointment__section-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.my-appointment__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 1em 4em 1em;
  align-content: flex-start;
}
.my-appointment__subtitle {
  font-size: 0.8em;
  margin-bottom: 2.5em;
  margin-top: 2.5em;
}

.my-appointment__notes-of-love {
  font-size: 0.6em;
  font-style: italic;
}

.note-of-love__alt {
  color: #bf55ec;
}

/* ----- my appointment section n3 ----- */

.my-appointment__card {
  display: flex;
  flex-direction: column;
  margin: 2em 2em 7em 2em;
  align-items: center;
  width: 75vw;
  height: auto;
  background: #614870;

  border-radius: 0 2.5em;
}

.my-appointment__card ul {
  padding: 1.5em;
  color: white;
  line-height: 1.6em;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

.my-appointment__card p {
  color: white;
}

.my-appointment__circle__container {
  margin-top: 0.3em;
}

.my-appointment__circle {
  margin: 0.1em;
  height: 0.5em;
  width: 0.5em;
  background-color: #fff0b3;
  border-radius: 50%;
  display: inline-block;
}

.my-appointment__circle__active {
  margin: 0.1em;
  height: 0.5em;
  width: 0.5em;
  background-color: #ffcc00;
  border-radius: 50%;
  display: inline-block;
}

.my-appointment__arrow__left {
  display: none;
}
.my-appointment__arrow__right {
  display: none;
}
@media screen and (min-width: 992px) {
  .my-appointment__arrow__left {
    font-size: 2.5em;
    cursor: pointer;
    display: inline-block;
    margin: 0.5em;
  }
  .my-appointment__arrow__right {
    font-size: 2.5em;
    cursor: pointer;
    display: inline-block;
    margin: 0.5em;
  }
}
