#my-appointment__container{
  height: 100vh;
}
.my-appointment__section {
  display: none;
}

.my-appointment__section-active {
  display: block;
}

.my-appointment__body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  height: 80vh;
  background-color:red;
  align-content: flex-start;

}

h2 {
  margin: 0;
}
