.helping-ourselves__icon__left{
  filter:sepia(1.6) saturate(6.5) hue-rotate(89deg);
  transition:0.5s ease-out;
  width: 15vh;
}

.helping-ourselves__icon__right {
  filter:sepia(1.6) saturate(6.5) hue-rotate(89deg);
  transition:0.5s ease-out;
  width: 15vh;
}

#helping-ourselves__container{
  background-color: white;
  padding-bottom: 6em;
}

#helping-ourselves__icon-container {
  display: flex;
  justify-content: center;
}

a{
  color: black;
}

.helping-ourselves__text{
  padding: 1em;
}
