#my-appointment__page-one {
  display: flex;
  margin: auto;
  align-items: center;
  width: 75vw;
  min-height: 30vh;
  background: #614870;
  border-radius: 0 2.5em;
}

#my-appointment__page-one p {
  padding: 0.2em;
  color: white;
}
