/* body{
    background-color: white;
  } */

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: white;
    margin:0.5em;

}

.about__header {
    font-family:'Yellowtail', cursive;
    color: black;
    font-size: 2em;
}

.about__text__main{
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    color: black;
}


















