.notes-of-love__container{
  height: 100vh;
}

.notes-of-love__header{
  margin-bottom: 0.5em;
}

.image__container{
  height: 60%;
}

.notes-of-love__image{
  display: none;
}

.notes-of-love__image__active{
  display: inline-block;
  width: 80%;

}

.my-appointment__container{
  height: 100vh;
}
