.notes-of-love__container{
  height: 100vh;
}

.notes-of-love__header{
  margin-bottom: 0.5em;
}

.image__container{
  height: 60%;
}

.notes-of-love__image{
  display: none;
}

.notes-of-love__image__active{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  width: auto;
  height: 35vh;

}

.instagram__link {
  padding-top: 1.5em;
}

.my-appointment__container{
  height: 100vh;
}

.notes-of-love__circle__container{
  margin-top: 0.3em;
}

.notes-of-love__circle{
margin: 0.1em;
height: 0.5em;
width: 0.5em;
background-color: #fff0b3;
border-radius: 50%;
display: inline-block;
}

.notes-of-love__circle__active{
  margin: 0.1em;
  height: 0.5em;
  width: 0.5em;
  background-color: #ffcc00;
  border-radius: 50%;
  display: inline-block;
}

.notes-of-love__small-text{
  margin: 0;
  padding: 0;
  font-size:0.6em;
  font-style: italic;
  color: #bf55ec;
}

.notes-of-love__arrow__left{
  display: none;
}

.notes-of-love__arrow__right{
  display: none;
}

@media screen and (min-width: 992px){
  .notes-of-love__arrow__left{
    font-size: 2.5em;
    cursor:pointer;
    display: inline-block;
    margin: 0.5em;

  }
  .notes-of-love__arrow__right{
    font-size: 2.5em;
    cursor: pointer;
    display: inline-block;
    margin:0.5em;

  }
}
