.notes-of-love__container{
  height: 100vh;
}

.notes-of-love__header{
  margin-bottom: 0.5em;
}

.image__container{
  height: 60%;
}

.notes-of-love__image{
  display: none;
}

.notes-of-love__image__active{
  display: inline-block;
  width: auto;
  height: 40vh;

}

.my-appointment__container{
  height: 100vh;
}

.notes-of-love__circle__container{
  margin-top: 0.3em;
}

.notes-of-love__circle{
margin: 0.1em;
height: 0.5em;
width: 0.5em;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
}

.notes-of-love__circle__active{
  margin: 0.1em;
  height: 0.5em;
  width: 0.5em;
  background-color: #614870;
  border-radius: 50%;
  display: inline-block;
}
