.feeling-overwhelmed__icon {
  width: 30vw;
  height: 20vh;
  filter:sepia(1.6) saturate(20) hue-rotate(-45deg);
}

#feeling-overwhelmed__icon-container {
  display: flex;
  justify-content: center;
}

.feeling-overwhelmed__arrow{
  font-size: 2em;}

.feeling-overwhelmed__image-text{
  margin: 0;
  padding: 0;
}
