html, body {
  margin: auto;
  padding: 0;
  background-color: white;
}

h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 2em;
  font-weight: lighter;
  color: black;
  margin-bottom: 0.5em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: black;
  /* margin: 1em;  */
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
  color: black;
  font-weight: 600;
  /* margin: 1em; */
  margin: 0;
}

figcaption {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: black;
  /* margin: 1em 1em 2em 1em; */
  line-height: 1.2em;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: black;
   margin: 0 1.5em 0.3em 1.5em; 
}

.App {
  text-align: center;
}

/* .my-appointment__button {
  width: 40vw;
  height: 33px;
  background-color: #614870;
  border-radius: 0 0.8em;
  margin: 2em;
  color: white;
}

.my-appointment__button {
  width: 40vw;
  height: 33px;
  background-color: #614870;
  border-radius: 0 0.8em;
  margin: 2em;
  color: white;
} */