.emotions__figure {
  margin: 0;
  display:flex;
  flex-direction: column;
  align-items: center;

}

#emotions__section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.emotions__video-wrapper {
  width: 80%;
  height: auto;
  margin-bottom: 1em;
}

.emotions__video {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
